main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex: 2;
}
aside{
flex: 1;
display: flex;
flex-direction: column;
}
table{
border: 5px solid black;
border-radius: 10px;
background-color: ghostwhite;
width: 90%;      
margin: 20px 0;
padding: 25px 0;
text-align: center;
letter-spacing: 3px;
border-collapse: collapse;
box-shadow: 4px 4px black;
}
#contenido{
display: flex;
flex-direction: row;
width: 100%;
margin: 20px;
align-items: flex-start;
justify-content: flex-end;
flex: 1;
}
#contenido h2{
text-transform: uppercase;
font-weight: bold;
letter-spacing: 3px;
margin: 5px auto;
background-color: ghostwhite;
border-radius: 10px;
border: 3px solid black;
padding: 8px;
box-shadow: 8px 8px black;
}
#num{
font-weight: bold;
font-size: 16px;
}
th{
border-bottom: 2px solid black;
padding-bottom: 8px;
}
.acc , .ac{
display: flex;
flex-direction: column;
}
.acc:hover , .ac:hover {
background-color: red;
font-weight: bold;
transition: 0.2s ease-in;
border-radius: 20px;
cursor: pointer;
}
header p:hover{
background-color: darkslategray;
color: white;
font-weight: bold;
transition: 0.3s ease-in;
}
#incd tr{
border-bottom: 2px dashed black;
line-height: 2;
}
.ac:hover{
background-color: lightgreen;
}
