{% extends 'Incidencias_Almacen/base.html' %}
{% load static %}

{%block cod_css%} 
    <link href="{% static 'Incidencias_Almacen/css/Dashboard.css'%}" rel="stylesheet"> 
{%endblock%}

{% block h1_titulo%} Dashboard {% endblock %}
{% block p_texto%} Menu de Navegacion {% endblock%}

{% block content %}
    <main> 
        <nav>
            <ul>
               <li> <a href="{% url 'Listado'%}"> Listado de Incidencias </a></li>
               <li> <a href="{% url 'Detalles'%}"> Detalles de Incidencias </a></li> 
               <li> Parte 3</li> 
               <li> Parte 4</li> 
            </ul>
        </nav>
    </main>

{% endblock %}