{% extends 'Incidencias_Almacen/base.html' %}
{% load static %}

{%block cod_css%}
<link href="{%static 'Incidencias_Almacen/css/Detalle_Incidencia.css'%}" rel="stylesheet" />
{%endblock%}

{%block h1_titulo%} Detalles de Incidencia {%endblock%}
{%block p_texto%} <a href="{%url 'DashBoard'%}"> Dashboard </a> {%endblock%}

{%block content%}
<main>
    <section class="info">
        <div class="divi">
            <h2 id="ID"> Incidencia #{{ incidencia.codigo }} </h2>
        </div>
        <div class="divi">
            <h2 id="nombre"> {{ incidencia.titulo }} </h2>
            <p id="dscrp"> {{ incidencia.descripcion_detallada }} </p>
        </div>
    </section>
    <section class="cuando">
        <div class="divi">
            <h2> Operario </h2>
            <p> {{ incidencia.operario_asignado|default:"No signado" }} </p>
        </div>
        <div class="divi">
            <h2> DateTime de Reporte </h2>
            <p> {{ incidencia.fecha_alta|date:"d/m/Y H:i" }} </p>
        </div>
        <div class="divi">
            <h2> Ubicación</h2>
            <p> {{ incidencia.zona_almacen }}</p>
        </div>
    </section>
    <section class="extra">
        <div class="divi">
            <h2> Material Afectado </h2>
            <p> {{ incidencia.material_afectado|default:"Ninguno" }}</p>
        </div>
        <div class="divi">
            <h2> Prioridad </h2>
            <p> {{ incidencia.get_nivel_prioridad_display }} </p>
        </div>
        <div class="divi">
            <h2> Estado </h2>
            <p> {{ incidencia.get_estado_display }}</p>
        </div>
    </section>
</main>
{%endblock%}