{% extends 'Incidencias_Almacen/base.html' %}
{% load static %}

{%block h1_titulo%} Detalles Material {%endblock%}
{%block p_texto%} <a href="{% url 'DashBoard'%}"> DashBoard </a> {%endblock%}

{% block cod_css%}
<link href="{%static 'Incidencias_Almacen/css/Detalles_Material.css'%}" rel="stylesheet" /> {%endblock%}
{% block content %}

<main>
    <div class="info">
        <section class="nom">
            <h2> {{ material.nombre }} </h2>
            <h2> Código: {{ material.codigo_interno }} </h2>
        </section>
        <section class="dscrp">
            <p> {{ material.descripcion }} </p>
        </section>

    </div>
    <div class="extra">
        <h3> Familia: {{ material.familia }}</h3>
        <h3> Ubicación: {{ material.ubicacion_habitual }}</h3>
        <h3> Proveedor: {{ material.proveedor_principal|default:"Ninguno" }}</h3>
    </div>
</main>
{%endblock%}