{% extends 'Incidencias_Almacen/base.html' %}
{% load static %}

{%block cod_css%}
<link href="{%static 'Incidencias_Almacen/css/lista_incidencia.css'%}" rel="stylesheet" />
{%endblock%}
{% block h1_titulo%} Lista Incidencias {% endblock %}
{% block p_texto%} <a href="{% url 'DashBoard'%}"> Dashboard </a> {% endblock%}

{%block content%}
<div id="contenido">
    <main>
        <h2> Incidencias </h2>
            <table>
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Título </th>
                        <th> Prioridad</th>
                        <th> Estado </th>
                        <th> Accion </th>
                    </tr>
                </thead>
                <tbody id="incd">
                    {% for incidencia in incidencias %}
                    <tr>
                        <td> {{ incidencia.codigo }} </td>
                        <td> {{ incidencia.titulo }} </td>
                        <td> {{ incidencia.get_nivel_prioridad_display }} </td>
                        <td> {{ incidencia.get_estado_display }} </td>
                        <td>
                            <a href="{% url 'DetallesI' incidencia.pk %}" class="ac"> Detalles </a>
                            <a href="{% url 'ModificarI' incidencia.pk %}" class="acc"> Modificar </a>
                            <a href="{% url 'Borrar' incidencia.pk %}" class="acc"> quitar </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No hay incidencias registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
    <aside>
        <h2> Número de Incidencias </h2>
            <table>
                <thead>
                    <tr>
                        <th> -- </th>
                        <th> Baja </th>
                        <th> Media </th>
                        <th> Alta </th>
                        <th> Urgente </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <span id="num"> {{ total_incidencias }} </span> </td>
                        <td> {{ incidencias_baja }} </td>
                        <td> {{ incidencias_media }} </td>
                        <td> {{ incidencias_alta }} </td>
                        <td> {{ incidencias_urgente }} </td>
                    </tr>
                </tbody>
            </table>
    </aside>
</div>
{%endblock%}