{% extends 'Incidencias_Almacen/Base.html'%}
{% load static %}

{% block cod_css%}
<link href="{% static 'Incidencias_Almacen/css/Lista_Proveedores.css'%}" rel="stylesheet" /> {%endblock%}

{% block h1_titulo %} Lista de Proveedores {% endblock %}
{% block p_texto %} <a href="{% url 'DashBoard'%}"> DashBoard </a> {%endblock%}

{%block content%}

<main>
    <table>
        <thead>
            <tr>
                <th> CIF </th>
                <th> Empresa </th>
                <th> Email </th>
                <th> Telefono </th>
                <th> Acciones </th>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td> {{ proveedor.cif }}</td>
                <td> {{ proveedor.nombre_comercial }} </td>
                <td> {{ proveedor.email }} </td>
                <td> {{ proveedor.telefono }}</td>
                <td>
                    <a href="{% url 'DetallesP' proveedor.pk %}" class="ac"> Detalles </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay proveedores registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{%endblock%}