{% extends 'Incidencias_Almacen/base.html' %}
{% load static %}

{%block cod_css%}
<link href="{% static 'Incidencias_Almacen/css/Lista_Materiales.css'%}" rel="stylesheet">
{%endblock%}
{% block h1_titulo%} Lista Materiales {% endblock %}
{% block p_texto%} <a href="{% url 'DashBoard'%}"> Dashboard </a> {% endblock%}

{%block content%}
<main>
    <table>
        <thead>
            <tr>
                <th> Código </th>
                <th> Nombre </th>
                <th> Familia </th>
                <th> Ubicacion </th>
                <th> Proveedor</th>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
            <tr>
                <td> {{ material.codigo_interno }} </td>
                <td> {{ material.nombre }} </td>
                <td> {{ material.familia }} </td>
                <td> {{ material.ubicacion_habitual }} </td>
                <td> {{ material.proveedor_principal|default:"-" }} </td>
                <td>
                    <a href="{% url 'DetallesM' material.pk %}" class="ac"> Detalles </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay materiales registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{%endblock%}