{% extends 'Incidencias_Almacen/Base.html'%}
{% load static %}

{% block cod_css %}
<link href="{% static 'Incidencias_Almacen/css/Login.css'%}" rel="stylesheet" /> {% endblock %}

{% block h1_titulo %} Portal de Entrada {%endblock%}
{% block p_texto %} <a href="{% url 'DashBoard'%}"> DashBoard </a> {%endblock%}

{% block content %}

<main>

    <form method="post" id="login" action="{% url 'Login' %}">
        <h1> Login </h1>
        {% csrf_token %}

        <input type="hidden" name="next" value="{% url 'Menu' %}">

        {% if form.errors %}
        <script>
            alert("Credenciales Incorrectas!");
        </script>
        {% endif %}

        <label> Introduzca su Usuario </label>
        <input type="text" id="usuario" required>

        <label> Introduzca su Contraseña </label>
        <input type="password" id="contra" required />

        <input type="submit" id="sbm" value="ENTRAR" />

    </form>
</main>

{% endblock %}