{% extends 'Incidencias_Almacen/base.html' %}
{% load static %}

{% block h1_titulo %} Registrar Material {% endblock %}
{% block p_texto %} <a href="{% url 'DashBoard'%}"> DashBoard </a> {% endblock %}

{% block cod_css %}
<link href="{% static 'Incidencias_Almacen/css/Registrar_Material.css'%}" rel="stylesheet" />
{%endblock%}


{% block content %}

<main>
    <form method="post" action="{% url 'RegistrarM' %}" class="django-form">
        {% csrf_token %}
        <section class="info" style="padding: 20px;">
            <h2> Información del Material </h2>
            {{ form.as_p }}
            <button type="submit" id="btn"
                style="margin-top:20px; padding:10px 20px; background-color:#333; color:white; border:none; cursor:pointer;">Registrar
                Material</button>
        </section>
    </form>
</main>

{% endblock %}