{% extends 'Incidencias_Almacen/base.html' %}
{% load static %}

{%block cod_css%}
<link href="{% static 'Incidencias_Almacen/css/Registrar_Incidencia.css' %}" rel="stylesheet" />
{%endblock%}


{% block h1_titulo%} Registrar Incidencia {% endblock %}
{%block p_texto%} <a href="{%url 'DashBoard'%}"> Dashboard </a> {%endblock%}

{%block content%}

<main>
    <form method="post" action="{% url 'Registrar' %}" class="django-form">
        {% csrf_token %}
        <section class="info" style="padding: 20px;">
            <h2> Información de Incidencia </h2>
            {{ form.as_p }}
            <button type="submit" id="btn"
                style="margin-top:20px; padding:10px 20px; background-color:#333; color:white; border:none; cursor:pointer;">Registrar
                Incidencia</button>
        </section>
    </form>
</main>


{%endblock%}